<ul class="navigator-result-list">
  <% @issues_result.issues.each do |issue| %>
  <% project = @issues_result.project(issue)
  component = @issues_result.component(issue) -%>
  <li class="navigator-result navigator-issue" data-component-key="<%= h component.key -%>">
    <div class="navigator-result-header">
      <div class="navigator-result-align">
        <i class="icon-severity-critical"></i>
        <i class="icon-severity-blocker"></i>
        <i class="icon-severity-minor"></i>
      </div>
      <div class="navigator-result-align">
        <%= human_short_date(Api::Utils.java_to_ruby_datetime(issue.updateDate())) -%>
      </div>
    </div>

    <div class="navigator-issue-rule">
      <%= h truncate(issue.message, :length => 100) -%>
    </div>

    <div class="navigator-issue-component">
      <div class="subtitle">
        <%= h (truncate(project.name, :length => 100)) -%>
        >
        <% if component %>
        <!-- Do not display component name when issue is on module -->
        <% if component.key != project.key %>
        <%= h component.name() -%>
        <% end %>
        <% else %>
        <del><%= h issue.componentKey() %></del>
        <% end %>
      </div>
    </div>

    <!--<div class="navigator-result-footer">-->
      <!--<%= h @issues_result.user(issue.assignee).name if issue.assignee -%>-->
      <!--<%= h @issues_result.actionPlan(issue).name if issue.actionPlanKey() -%> |-->
    <!--</div>-->
  </li>
  <% end %>
</ul>

<div class="navigator-results-status-bar">
  <div class="navigator-results-order">
    Order by &darr;
  </div>
  <div class="navigator-results-stat">
    Found: 141
  </div>
</div>

<div class="navigator-content">

</div>
